.user__profile__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background: #f9f9f9;
  flex-direction: column;
  padding: 100px;
  padding-top: 50px;
  .content__card {
    width: 65%;
    display: flex;
    justify-content: center;
    // padding-top: 16px;
    // transition: ease-in-out;
  }
  .row__date {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .item__row__date {
      width: 400px;
      display: flex;
      align-items: flex-end;
    }
  }
  .number__group {
    width: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .radio__input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
  }
  .input__group__inline {
    // margin-top: 16px;
    width: 400px;
    &.date {
      width: auto;
      // flex: 1;
    }
    .info {
      margin-top: 8px;
      display: flex;
      align-items: center;
    }
    /* margin-right:100px; */
    .inpput {
      color: #8f9bb3;
      font-size: 15px;
      width: 100%;
    }
    .label {
      margin: 0;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;

      /* Text Color / Hint */

      color: #8f9bb3;
      margin-bottom: 0px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .user__profile__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    .content__card {
      width: 100%;
    }
    .number__group {
      width: 90%;
    }
    .radio__input {
      width: 90%;
    }
    .input__group__inline {
      width: auto;
      width: 90%;
      input {
        width: 100%;
      }
    }
  }
}


@media only screen and (max-width: 1466px) {
  .user__profile__wrapper {
    padding-left: 10px;
    padding-right: 10px;
    .content__card {
      width: 70%;
    }
    .number__group {
      width: 90%;
    }
    .radio__input {
      width: 90%;
    }
    .input__group__inline {
      width: auto;
      width: 90%;
      input {
        width: 100%;
      }
    }
  }
}
