<div class="aureolev__container">
  <div class="main__container">
    <div class="aureolev__search__container">
      <div class="aureolev__input__container">
        <div class="icon__look__up">
          <img src="../../../../assets/images/search.svg" alt="" srcset="" />
        </div>
        <ait-chip
          [title]="currentSearch?.value"
          *ngIf="!isObjectEmpty(currentSearch)"
          [icon]="'close-outline'"
          (action)="removeSearch()"
          [tooltip]="currentSearch?.name"
        ></ait-chip>
        <input
          #inputSearch
          type="text"
          [placeholder]="(getPlaceHolder() | aureoleTranslate) || ''"
          autofocus
          [formControl]="inputControlMaster"
          (input)="handleInput(inputSearch.value)"
        />
      </div>
      <div class="aureole__button__search" (click)="handleClickButton()">
        <div class="icon__look__up">
          <img
            style="height: 18px; width: 18px; margin: 7px"
            src="../../../../assets/images/white_search.svg"
            alt=""
            srcset=""
          />
        </div>
        <p class="empty">
          {{ getTitleSearchBtn() }}
        </p>
      </div>
    </div>
    <div
      class="aureolev__search__suggestion"
      *ngIf="dataSuggest.length === 0 && messageSearch"
      style="padding: 0px; padding-left: 15px"
    >
      <p style="width: 100%; margin-top: 10px; color: #000">
        {{ messageSearch | aureoleTranslate }}
      </p>
    </div>
    <div class="aureolev__search__suggestion" *ngIf="dataSuggest.length !== 0">
      <ait-chip
        [title]="highlightName(user.value)"
        *ngFor="let user of dataSuggest"
        (onClickChip)="addUser(user); inputSearch.value = ''"
        [tooltip]="user?.name"
      ></ait-chip>
    </div>

    <div
      class="aureolev__filter_container"
      *ngIf="!isObjectEmpty(currentSearch)"
    >
      <div
        class="aureolev__header__filter"
        (click)="ToggleExpan1()"
        [ngStyle]="!isExpan1 ? { border: 'none' } : null"
      >
        <p class="aureole__title__filter">
          {{ '実習生情報' | aureoleTranslate }}
        </p>
        <div class="icon__expan" (click)="ToggleExpan1()">
          <nb-icon
            (click)="ToggleExpan1()"
            icon="arrow-ios-upward-outline"
            *ngIf="isExpan1"
          ></nb-icon>
          <nb-icon
            (click)="ToggleExpan1()"
            icon="arrow-ios-downward-outline"
            *ngIf="!isExpan1"
          ></nb-icon>
        </div>
      </div>
      <div
        class="aureolev__input__area"
        [ngStyle]="{
          height: isExpan1 ? 'auto' : '0px',
          'margin-bottom': isExpan1 ? null : '0px',
          'margin-top': isExpan1 ? null : '0px'
        }"
      >
        <div
          class="content"
          style="display: flex; flex-wrap: wrap; width: 100%"
        >
          <div class="left__side" [class.visibled]="!isExpan1">
            <ait-output-text
              [label]="'現住所'"
              [value]="userSelect[0]?.address"
              style="margin-bottom: 16px"
            ></ait-output-text>
            <ait-output-text
              [label]="'生年月日'"
              [value]="getDate(userSelect[0]?.dob)"
              style="margin-bottom: 16px"
            ></ait-output-text>
            <ait-output-text
              [label]="'国籍'"
              [value]="userSelect[0]?.country"
            ></ait-output-text>
          </div>
          <div class="right__side" [class.visibled]="!isExpan1">
            <ait-output-text
              [label]="'性別'"
              [value]="''"
              style="margin-bottom: 16px; visibility: hidden"
            ></ait-output-text>
            <ait-output-text
              [label]="'性別'"
              [value]="userSelect[0]?.gender"
              style="margin-bottom: 16px"
            ></ait-output-text>
            <ait-output-text
              [label]="'パスポート番号'"
              [value]="userSelect[0]?.passport_number"
            ></ait-output-text>
          </div>
        </div>
        <div
          style="
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
          "
        >
          <div
            class="button__view__company"
            *ngIf="isExpan1"
            (click)="handleClickViewMore()"
          >
            <span style="font-size: 12px">{{
              '詳細を表示' | aureoleTranslate
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div style="margin: 10px"></div>
    <div
      class="aureolev__filter_container"
      *ngIf="!isObjectEmpty(currentSearch)"
    >
      <div
        class="aureolev__header__filter"
        (click)="ToggleExpan()"
        [ngStyle]="!isExpan ? { border: 'none' } : null"
      >
        <p class="aureole__title__filter">
          {{ 'フィルター' | aureoleTranslate }}
        </p>
        <div class="icon__expan" (click)="ToggleExpan()">
          <nb-icon
            icon="arrow-ios-upward-outline"
            *ngIf="isExpan"
            (click)="ToggleExpan()"
          ></nb-icon>
          <nb-icon
            icon="arrow-ios-downward-outline"
            *ngIf="!isExpan"
            (click)="ToggleExpan()"
          ></nb-icon>
        </div>
      </div>
      <div
        class="aureolev__input__area"
        [ngStyle]="{
          height: isExpan ? 'auto' : '0px',
          'margin-bottom': isExpan ? null : '0px',
          'margin-top': isExpan ? null : '0px'
        }"
      >
        <div class="left__side" [class.visibled]="!isExpan">
          <!-- //remark -->
          <div class="input__group">
            <ait-label [label]="'業務内容'"></ait-label>
            <input
              type="text"
              nbInput
              fullWidth
              style="
                border: 1px solid #10529d;
                background: transparent;
                color: #000;
                width: 100%;
                margin-top: 8px;
              "
              [placeholder]="'キーワード入力' | aureoleTranslate"
              [value]="filterCommonAppended?.description || ''"
              class="input__filter"
              (input)="filterDescription($event.target.value)"
            />
          </div>

          <div class="input__group">
            <ait-autocomplete-master-data
              [style]="{
                border: '1px solid #10529D',
                width: '100%',
                background: 'transparent',
                'margin-top': '8px'
              }"
              [label]="'職種・分野'"
              [class]="'JOB_BUSINESS'"
              [maxItem]="1"
              [icon]="'search-outline'"
              [placeholder]="'選択する' | aureoleTranslate"
              [defaultValue]="
                filterCommonAppended?.job_business
                  ? [{ _key: filterCommonAppended?.job_business }]
                  : null
              "
              (watchValue)="filterByBusiness($event)"
            ></ait-autocomplete-master-data>
          </div>

          <div class="input__group">
            <ait-autocomplete-master-data
              [label]="'在留資格'"
              [style]="{
                border: '1px solid #10529D',
                width: '100%',
                background: 'transparent',
                'margin-top': '8px'
              }"
              [class]="'JOB_RESIDENCE_STATUS'"
              [defaultValue]="
                filterCommonAppended?.residence_status
                  ? [{ _key: filterCommonAppended?.residence_status }]
                  : null
              "
              [maxItem]="1"
              [icon]="'search-outline'"
              [placeholder]="'選択する' | aureoleTranslate"
              (watchValue)="filterByResidenceStatus($event)"
            ></ait-autocomplete-master-data>
          </div>
        </div>
        <div class="right__side" [class.visibled]="!isExpan">
          <div class="input__group">
            <ait-autocomplete-master-data
              [label]="'勤務地(都道府県)'"
              [style]="{
                border: '1px solid #10529D',
                width: '100%',
                background: 'transparent',
                'margin-top': '8px'
              }"
              [class]="'PREFECTURE'"
              [maxItem]="1"
              [icon]="'search-outline'"
              [placeholder]="'選択する' | aureoleTranslate"
              [defaultValue]="
                filterCommonAppended?.prefecture
                  ? [{ _key: filterCommonAppended?.prefecture }]
                  : null
              "
              (watchValue)="filterPrefecture($event)"
            ></ait-autocomplete-master-data>
          </div>

          <div class="input__group">
            <ait-label [label]="'給与（円）'"></ait-label>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
              "
            >
              <ait-input-number
                [widthInput]="'100%'"
                [placeholder]="'0'"
                (watchValue)="filterBySalary($event, 'salary1')"
                [styleInput]="{
                  background: 'transparent',
                  border: '1px solid #10529D'
                }"
                [isReset]="isResetSalaryFrom"
                [defaultValue]="
                  filterCommonAppended?.salary1
                    ? filterCommonAppended?.salary1
                    : null
                "
              ></ait-input-number>
              <div style="margin: 15px">～</div>
              <ait-input-number
                [widthInput]="'100%'"
                [placeholder]="'999,999,999,999'"
                (watchValue)="filterBySalary($event, 'salary2')"
                [styleInput]="{
                  background: 'transparent',
                  border: '1px solid #10529D'
                }"
                [isReset]="isResetSalaryTo"
                [defaultValue]="
                  filterCommonAppended?.salary2
                    ? filterCommonAppended?.salary2
                    : null
                "
              ></ait-input-number>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="aureolev__matching__result"
      *ngIf="!isObjectEmpty(currentSearch)"
    >
      <div class="aureolev__matching__header">
        <p>{{ 'あなたへのおすすめ' | aureoleTranslate }}</p>
        <div class="actionGroup">
          <ait-tabs
            [tabs]="tabs"
            [disabled]="cardSkeleton.length !== 0"
            (onTabSelect)="getTabSelect($event)"
          ></ait-tabs>
        </div>
      </div>
      <div class="divider"></div>
      <div class="list__card">
        <div
          class="what"
          style="display: flex; flex-direction: row; flex-wrap: wrap"
          *ngIf="currentTab !== 'R'"
        >
          <p *ngIf="cardSkeleton.length === 0 && dataFilterSave.length === 0">
            {{ textDataNullSave | aureoleTranslate }}
          </p>

          <ait-aureolev-card
            *ngFor="let card of dataFilterSave"
            [card]="card"
            [isJob]="true"
            [addressSearch]="addressSearch"
            [user_key]="user_request_key"
            (actionSaveEvent)="handleSyncData($event)"
          >
          </ait-aureolev-card>
          <ait-card-skeleton
            *ngFor="let card of cardSkeleton"
          ></ait-card-skeleton>
        </div>

        <div
          class="what"
          style="display: flex; flex-direction: row; flex-wrap: wrap"
          *ngIf="currentTab === 'R'"
        >
          <p *ngIf="cardSkeleton.length === 0 && dataFilter.length === 0">
            {{ textDataNull | aureoleTranslate }}
          </p>

          <!-- <div
        style="flex: 1; width: 100%; display: flex; flex-wrap: wrap"
        *ngIf="cardSkeleton.length === 0"
      >

      </div> -->
          <ait-aureolev-card
            *ngFor="let card of dataFilter"
            [card]="card"
            [addressSearch]="addressSearch"
            [user_key]="user_request_key"
            (actionSaveEvent)="handleSyncData($event)"
            [isJob]="true"
          >
          </ait-aureolev-card>

          <ait-card-skeleton
            *ngFor="let card of cardSkeleton"
          ></ait-card-skeleton>
        </div>
      </div>
      <!-- <div class="list__card__loading" *ngIf="isLoading"></div> -->
      <div
        class="spinner__loading"
        style="min-height: 50px; margin: 20px; background: transparent"
        *ngIf="spinnerLoading"
        [nbSpinner]="spinnerLoading"
        [nbSpinnerStatus]="'primary'"
      ></div>
      <div
        class="spinner__loading"
        style="min-height: 50px; margin: 20px; background: transparent"
        *ngIf="!textDataNull && !textDataNullSave"
      >
        {{ textDataEnd | aureoleTranslate }}
        <!-- </div> -->
      </div>
    </div>
    <!-- Scroll to top button -->
    <!-- <button
      (click)="goTop()"
      class="btnScrollTop"
      *ngIf="round > 0 && dataFilterDf.length !== 0"
    >
      <nb-icon icon="arrow-upward-outline" style="color: #fff"></nb-icon>
    </button> -->
  </div>
</div>
