<div style="padding: 50px">
  <h1>Welcome to starter web kit ✌</h1>
  <ait-divider></ait-divider>
  <ait-space></ait-space>

  <ait-tabs
    [tabs]="tabs"
    (onTabSelect)="getTabSelected($event)"
    [tabSelected]="tabSelect"
  ></ait-tabs>
  <ait-space></ait-space>

  <div class="container" *ngIf="tabSelect === 'C'">
    <h4>COMPONENTS</h4>

    <ait-card-content [isColumn]="true" [label]="'Output text input'">
      <p>This is a component, which is used to input value from user 🎉</p>
      <div
        style="margin-left: 20px; display: flex; width: 100%; flex-wrap: wrap"
      >
        <ait-output-text
          [label]="'Default'"
          [valueArray]="['abc', 'def']"
          [width]="'100%'"
        ></ait-output-text>
      </div>
    </ait-card-content>
    <!-- <ait-card-content [isColumn]="true" [label]="'Text input'">
      <p>This is a component, which is used to input value from user 🎉</p>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <div *ngFor="let st of status">
          <ait-label [label]="'#' + st" [required]="true"></ait-label>
          <ait-input-text
            [status]="st"
            [iconName]="'heart'"
            [nbPrefix]="false"
            [placeholder]="st"
            (watchValue)="getValueInput(st, $event)"
            [value]="st"
          ></ait-input-text>
          <br />
          <code>#Result output : {{ result[st] }}</code>
        </div>
      </div>
    </ait-card-content> -->

    <ait-space></ait-space>

    <ait-card-content [isColumn]="true" [label]="'Error styles'">
      <p>This is a component, which is used to input value from user 🎉</p>

      <button
        nbButton
        status="primary"
        (click)="resetAll()"
        style="width: 100px; margin: 15px"
      >
        reset all
      </button>

      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
          flex-direction: column;
        "
      >
        <ait-input-text
          [placeholder]="'c_2003'"
          [label]="'c_2003'"
          [guidance]="'c_2003'"
          [guidanceIcon]="'star'"
          [length]="5"
          (watchValue)="getValueTextInput($event)"
          [styleLabel]="{ 'text-transform': 'initial' }"
          [width]="'300px'"
          (onError)="result.error_text = $event.isValid"
          [isSubmit]="result.submit_text_input"
          [id]="'example1'"
          [errorMessages]="errors"
          [isReset]="result.resetAll"
          [required]="true"
        ></ait-input-text>
        <button
          nbButton
          status="primary"
          (click)="subMitTextInput()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>
        <code>#isValid : {{ result?.error_text }}</code>
        <code>#Ouput : {{ result?.text_input }}</code>
        <ait-space></ait-space>
        <ait-input-number
          [isReset]="result.resetAll"
          [label]="'c_2003'"
          [placeholder]="'c_2003'"
          [max]="999999999999"
          [guidance]="'whatever you want'"
          [guidanceIcon]="'star'"
          (watchValue)="getValueNumberInput($event)"
          [styleLabel]="{ 'text-transform': 'uppercase' }"
          (onError)="result.error_number = $event.isValid"
          [id]="'example2'"
          [isSubmit]="result.submit_text_number"
          [errorMessages]="errors"
          [required]="true"
          [defaultValue]="1000"
        ></ait-input-number>

        <button
          nbButton
          status="primary"
          (click)="subMitTextNumber()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>

        <code>#isValid : {{ result?.error_number }}</code>

        <code>#Ouput : {{ result?.number_input }}</code>
        <ait-space></ait-space>
        <ait-datepicker
          [isReset]="result.resetAll"
          [required]="true"
          [label]="'Datepicker'"
          [styleLabel]="{ 'text-transform': 'initial' }"
          [width]="'400px'"
          (onError)="result.error_datepicker = $event.isValid"
          [placeholder]="'c_2003'"
          [guidance]="'c_2003'"
          (watchValue)="getValueDatePicker($event)"
          [format]="'dd/MM/yyyy'"
          [guidanceIcon]="'star'"
          [defaultValue]="null"
          [isSubmit]="result.submit_datepicker"
          [required]="true"
          [errorMessages]="errors"
        ></ait-datepicker>

        <button
          nbButton
          status="primary"
          (click)="subMitDatepicker()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>
        <code>#isValid : {{ result.error_datepicker }}</code>

        <code>#Ouput : {{ result?.date_picker?.value }}</code>
        <ait-space></ait-space>
        <ait-autocomplete-master
          [label]="'autocomplete master'"
          [placeholder]="'one'"
          [collection]="'sys_caption'"
          (watchValue)="getValueMaster($event)"
          [styleLabel]="{ 'text-transform': 'initial' }"
          [isSubmit]="result.submit_master"
          [isReset]="result.resetAll"
          [required]="true"
        ></ait-autocomplete-master>
        <code>#Ouput : {{ result?.master | json }}</code>
        <button
          nbButton
          status="primary"
          (click)="subMitMaster()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>

        <ait-space></ait-space>
        <input
          nbInput
          placeholder="Add error"
          (keydown.enter)="getErrors(input.value); input.value = ''"
          #input
        />
        <ait-space></ait-space>
        <ait-chip
          [title]="e"
          *ngFor="let e of errors"
          [icon]="'close-outline'"
          (action)="removeSearch(e)"
        ></ait-chip>
        <ait-space></ait-space>

        <ait-autocomplete-master-data
          [width]="'300px'"
          [styleLabel]="{ 'text-transform': 'initial' }"
          [placeholder]="'c_2003'"
          [label]="'c_2003'"
          (watchValue)="getValueMasterData($event)"
          (onError)="result.error_data1 = $event.isValid"
          [isSubmit]="result.master1"
          [allowNew]="true"
          [errorMessages]="errors"
          [required]="true"
          [isReset]="result.resetAll"
          [required]="true"
        ></ait-autocomplete-master-data>
        <button
          nbButton
          status="primary"
          (click)="subMitMasterData1()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>
        <code>#isValid : {{ result.error_data1 }}</code>
        <code>#Ouput : {{ result?.master_data | json }}</code>

        <ait-space></ait-space>

        <ait-autocomplete-master-data
          [styleLabel]="{ 'text-transform': 'initial' }"
          [width]="'400px'"
          [label]="'autocomplete master data'"
          [maxItem]="3"
          [placeholder]="'one'"
          [guidance]="'c_2003'"
          [guidanceIcon]="'star'"
          [class]="'RESIDENCE_STATUS'"
          (onError)="result.error_data2 = $event.isValid"
          (watchValue)="result.multi_data = $event"
          [excludedValue]="[
            { _key: 'en_US', value: 'Tiếng Anh' },
            { _key: 'vi_VN', value: 'Tiếng Việt' }
          ]"
          [isSubmit]="result.master2"
          [allowNew]="true"
          [errorMessages]="errors"
          [isReset]="result.resetAll"
          [required]="true"
        ></ait-autocomplete-master-data>
        <button
          nbButton
          status="primary"
          (click)="subMitMasterData2()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>
        <code>#isValid : {{ result.error_data2 }}</code>

        <code>#Ouput : {{ result?.multi_data | json }}</code>

        <ait-space></ait-space>

        <ait-input-file
          [title]="'input-file'"
          [isDefault]="false"
          [fileKeys]="[

          ]"
          [width]="'300px'"
          [hasStatus]="false"
          [classContainer]="iconFile"
          (onError)="result.error_file = $event.isValid"
          [isSubmit]="result.file"
          [errorMessages]="errors"
          [maxFiles]="1"
          [fileTypes]="'jpg,json,png'"
          [maxSize]="50"
        ></ait-input-file>

        <button
          nbButton
          status="primary"
          (click)="subMitFile()"
          style="width: 100px; margin: 15px"
        >
          submit
        </button>

        <code>#isValid : {{ result.error_file }}</code>

        <ait-space></ait-space>
        <ait-input-text
          [label]="'textarea'"
          [required]="true"
          [rows]="10"
          [placeholder]="'one'"
          [guidance]="'whatever you want'"
          [width]="'400px'"
          [isReset]="result.resetAll"

        ></ait-input-text>
        <ait-label [label]="'Time picker'"></ait-label>
        <div style="display: flex; margin: 30px">
          <ait-timepicker
            [ishourValue]="true"
            [defaultValue]="state.time1"
            [fieldName]="'time1'"
            [placeholder]="'HH'"
            (watchValue)="result.time1 = $event.value.time1"
            [id]="'shift_1_from_hour'"
            [isReset]="result.resetAll"
          ></ait-timepicker>
          <ait-timepicker
            [isminuteValue]="true"
            [fieldName]="'time1_min'"
            [placeholder]="'mm'"
            (watchValue)="result.time1_min = $event.value.time1_min"
            [defaultValue]="state.time1_min"
            [isReset]="result.resetAll"
            [id]="'shift_1_from_hour'"
          ></ait-timepicker>
          <span style="margin: 20px">~</span>

          <ait-timepicker
            [ishourValue]="true"
            [defaultValue]="state.time2"
            [fieldName]="'time2'"
            [placeholder]="'HH'"
            (watchValue)="result.time2 = $event.value.time2"
            [id]="'shift_1_from_hour'"
            [isReset]="result.resetAll"
          ></ait-timepicker>
          <ait-timepicker
            [isminuteValue]="true"
            [fieldName]="'time2_min'"
            [defaultValue]="state.time2_min"
            [placeholder]="'mm'"
            (watchValue)="result.time2_min = $event.value.time2_min"
            [isReset]="result.resetAll"
          ></ait-timepicker>
        </div>
        <code>#Ouput time1 : {{ result?.time1 | json }}</code>
        <code>#Ouput time1_min : {{ result?.time1_min | json }}</code>

        <code>#Ouput time2 : {{ result?.time2 | json }}</code>
        <code>#Ouput time2_min : {{ result?.time2_min | json }}</code>
      </div>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
      <ait-space></ait-space>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Chips'">
      <p>This is a component, which is used to show items of somethings 🎉</p>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-chip
          *ngFor="let st of status"
          [title]="st + '🍓'"
          [isTooltip]="true"
        ></ait-chip>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Confirm dialog'">
      <p>
        This is a component, which is used to show popup to confirm whatever you
        want 🎉
      </p>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-button
          *ngFor="let s of status"
          [title]="s"
          [height]="'24px'"
          [fontsize]="'10px'"
          [color]="'#fff'"
          [style]="'active'"
          [background]="
            'linear-gradient(89.75deg, #002B6E 0.23%, #2288CC 99.81%)'
          "
          [styleText]="{
            'font-weight': 'bold',
            color: '#fff'
          }"
          [styleBtn]="{
            'min-width': '100px',
            'max-width': '150px',
            margin: '5px'
          }"
          (click)="confirmDialog(s)"
        ></ait-button>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Special Matching Button'">
      <p>This is a button component, user can click, hover,...</p>

      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-button
          *ngFor="let s of status"
          [title]="s"
          [height]="'24px'"
          [fontsize]="'10px'"
          [background]="
            'linear-gradient(89.75deg, #002B6E 0.23%, #2288CC 99.81%)'
          "
          [styleText]="{
            'font-weight': 'bold',
            color: '#fff'
          }"
          [styleBtn]="{
            'min-width': '100px',
            'max-width': '150px',
            margin: '5px'
          }"
        ></ait-button>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content
      [isColumn]="true"
      [label]="'Input file'"
      [styleContainer]="{
        padding: '10px'
      }"
    >
      <p>This is a input-file component</p>

      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-input-file
          [isDefault]="false"
          [file_keys]="['7bfedd70-a3db-f0c5-6340-d0e728d407ba']"
        ></ait-input-file>
      </div>
    </ait-card-content>
    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Dragscroll list'">
      <p>This is list component, you can scroll by draging chips 😜</p>

      <code># [isNormal]="true"</code>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-drag-scroll
          [list]="skills"
          [showField]="'value'"
          [minWidth]="'400px'"
          [isNormal]="true"
        ></ait-drag-scroll>
      </div>
      <ait-space></ait-space>
      <code># [isNormal]="false"</code>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-wrap: wrap;
        "
      >
        <ait-drag-scroll
          [list]="skills"
          [showField]="'value'"
          [minWidth]="'400px'"
          [isNormal]="false"
        ></ait-drag-scroll>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Datepicker'">
      <p>
        This is a datepicker component, which is used to pick a date you want.
        You can set format by <code>[staticFormat]="YOUR_FORMAT"</code>
      </p>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-direction: column;
        "
      >
        <ait-datepicker
          (onDateChange)="getDate($event)"
          [label]="'date picker'"
          [dateInput]="date"
        ></ait-datepicker>
        <br />
        <code>#Result output : {{ result.date?.value }}</code>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-card-content [isColumn]="true" [label]="'Displayfile'">
      <p>
        This is a output file component, which display files you that you set
        and upload from local 📁
      </p>
      <div
        style="
          margin-left: 20px;
          display: flex;
          max-width: 400px;
          flex-direction: column;
        "
      >
        <ait-output-file
          [classContainer]="'filene'"
          [label]="'Output files'"
          [fileKeys]="[
            '71305a2f-1d23-0f7b-25a8-94b1687e11b9',
            '1afb64a5-1f79-e403-eaa4-c8ec30d73550'
          ]"
        ></ait-output-file>
      </div>
    </ait-card-content>

    <ait-space></ait-space>
    <ait-space></ait-space>
  </div>
</div>
