@import "../../../../../styles/themes.scss";
@import '../user-basic-info/user-basic-info.component.scss';

.components {
  margin-bottom: 9px;
}

.height_140 {
  height: 140px;
}

.margin_16 {
  margin-top: 16px;
}

.form-double {
  display: flex;
  div + div {
    margin-left: 15px;
  }
}

::ng-deep nb-checkbox label {
    border: 1px solid white;
    border-radius: 3px;
}

.check-form {
    display: flex;
    margin-top: 40px;
    label {
        border: 2px solid white;
        border-radius: 2px;
    }
    .pcontent {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: #ffffff;
        margin-left: 6px;
    }
}
