:host ::ng-deep .checkbox-center {
  text-align: center;
}

:host ::ng-deep ng2-smart-table tbody > tr > td {
  text-align: left;
}
:host ::ng-deep .ng2-smart-title {
  text-transform: uppercase;
}

.title {
  margin-left: 25px;
  text-transform: capitalize;
}
