<div class="skeleton">
  <div class="header">
    <div class="avatar empty">

    </div>
    <div class="info">
      <div class="name empty"></div>
      <div class="sub empty"></div>
    </div>
  </div>
  <div class="content">
    <div class="text_skeleton empty"></div>
    <div class="text_skeleton empty"></div>
    <div class="text_skeleton empty"></div>
    <div class="text_skeleton empty"></div>
    <div class="text_skeleton empty"></div>
    <div class="text_skeleton empty"></div>
  </div>
</div>
